@each $breakpoint, $searchbar_width in $searchbar_widths {
  .searchbar-slide-#{$breakpoint} {
    animation-duration: $transition-duration;
    animation-name: searchbar-slide-#{$breakpoint};
  }

  @keyframes searchbar-slide-#{$breakpoint} {
    from {
      margin-right: 0.25rem;
      width: 50px;
    }

    to {
      margin-right: 0.25rem;
      width: $searchbar_width;
    }
  }
}

.drill-down-slide-leave {
  transform: translateX(0px);
  opacity: 100;

  &:last-of-type {
    transform: translateX(0px);
  }
}

.drill-down-slide-leave-to {
  transform: translateX(-300px);
  opacity: 0;

  &:last-of-type {
    transform: translateX(300px);
  }
}

.drill-down-slide-enter {
  transform: translateX(300px);
  opacity: 0;

  &:first-of-type {
    transform: translateX(-300px);
  }
}

.drill-down-slide-enter-to {
  transform: translateX(0px);
  opacity: 100;
  &:first-of-type {
    transform: translateX(0px);
  }
}

.drill-down-slide-enter-active,
.drill-down-slide-leave-active {
  transition: all $transition-duration ease $transition-duration;
}

.controller-fade-enter,
.controller-fade-leave-to {
  opacity: 0;
}

.controller-fade-enter-active,
.controller-fade-leave-active {
  transition: all $transition-duration ease $transition-duration;
}
