@import "./variables";

@mixin app-header-background {
  background-image: linear-gradient(to right, #2196f3, #00bcd4);
  box-shadow: none;
  border-bottom: 0px !important;
  padding-bottom: 4px !important;

  &:before {
    content: "";
    background-image: linear-gradient(
      to right,
      #03a9f4,
      #8bc34a,
      #d9b818,
      #fb8c00
    );
    position: absolute;
    bottom: 0px;
    height: 4px;
    width: 100vw;
  }
}

@mixin app-typography {
  * {
    font-size: 18px;
  }

  .typography-title {
    color: $dark;
    font-weight: bold;
  }

  .typography-content {
    color: $gray-dark;
  }

  .typography-caption {
    color: $gray-light;
    font-size: 15px;
  }
}
