// Variable overrides
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

// theme colors variables from Bootstrap
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$gray-light: $gray-400;
$gray: $gray-500;
$gray-dark: $gray-800;
$dark: $gray-900;
$tone: $gray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-light": $gray-light,
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
);

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Noto Sans TC",
  "Noto Sans CJK TC", "Microsoft JhengHei UI", sans-serif, "Segoe UI", Roboto,
  Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";

// Shadows
$shadow: (
  "box": 0px 3px 6px 0px transparentize($secondary, 0.5),
  "text": 0px 0px 4px $white,
  "box_hovered": (
    0px 0px 20px 0px transparentize($tone, 0.75),
    0px 3px 6px 0px transparentize($secondary, 0.5),
  ),
  "box_focused": (
    0px 0px 8px 0px transparentize($danger, 0.25),
    0px 3px 6px 0px transparentize($secondary, 0.25),
  ),
  "component_hovered": (
    0px 0px 3px 1px transparentize($secondary, 0.25),
  ),
  "component_focused": (
    0px 0px 3px 1px transparentize($danger, 0.25),
  ),
  "separator": transparentize($dark, 0.8),
);

// Body
$body-bg: $light;
